.header {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    background: url("../svg/isoheaderbg.svg") center no-repeat;
    background-size: cover;
    opacity: 0;
    animation: headerAnim 2.5s forwards;

    @media screen and (max-width: 1200px) {
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        grid-template-areas:
            "text"
            "graph";
        overflow-y: hidden;
    }

    @keyframes headerAnim {
        to {
            opacity: 1;
        }
    }

    &__text {
        @include childCenter(center);
        transform: translateX(-40px);
        animation: headerLeftAnim 1.5s forwards;

        @media screen and (max-width: 1200px) {
            grid-area: text;
            padding-top: 200px;
        }


        @keyframes headerLeftAnim {
            to {
                transform: translateX(0);
            }
        }

        &-content {
            max-width: 490px;
            margin: 0 auto;

            @media screen and (max-width: 1200px) {
                max-width: 1030px;
            }

            &-link {
                background: linear-gradient(90.06deg, $color1 10.06%, $color2 92.17%);
                padding: 10px;
                border-radius: 6px;
                cursor: pointer;
                @include childCenter(space-between);
                margin-bottom: 30px;
                font-size: 0.9rem;

                img {
                    height: 12px;
                    opacity: 0.4;
                }

                &:hover {
                    background: linear-gradient(90.06deg, rgba($color1, 0.7) 10.06%, rgba($color2, 0.7) 92.17%);

                    img {
                        opacity: 1;
                    }
                }
            }

            h1 {
                font-size: 6.7rem;
                line-height: 99px;
                margin-bottom: 20px;
                letter-spacing: -3px;
            }

            h3 {
                color: $color3;
                font-size: 1.7rem;
                font-weight: 100;
                line-height: 38px;
                margin-bottom: 19px;
            }

            p {
                font-weight: 300;
                line-height: 28px;
                font-size: 1.2rem;
                opacity: 0.8;
                margin-bottom: 40px;
            }

            &-buttonsContainer {
                @include childCenter(space-between);
                max-width: 300px;
            }
        }
    }

    &__img {
        position: relative;

        @media screen and (max-width: 1200px) {
            grid-area: graph;
            z-index: -1;
        }

        &-base {
            width: 140%;
            position: absolute;
            top: 50%;
            left: 70%;
            transform: translate(-50%, -50%);

            @media screen and (max-width: 1200px) {
                width: 90%;
                left: 75%;
                top: 100%;
                box-sizing: border-box;
            }
        }

        &-ligns {
            transform: translate(-50%, -50%) scale(1.8);
            position: absolute;
            left: 37%;
            top: 48%;
            perspective: none;

            @media screen and (max-width: 1200px) {
                transform: translate(-50%, -50%) scale(2);
                left: 60%;
                top: 100%;
            }

            &-content {
                transform: rotateX(54.7356103deg) rotateY(0deg) rotateZ(45deg);
                width: 135%;

                @media screen and (max-width: 1200px) {
                    width: 120%;
                }
            }

        }

        &-topmain {
            position: absolute;
            left: 81%;
            top: 49%;
            width: 76%;
            transform: translate(-50%, -50%);

            @media screen and (max-width: 1200px) {
                left: 85%;
                top: 100%;
                width: 50%;
            }
        }

        &-marker {
            position: absolute;
            width: 18.4%;
            top: 49%;
            left: 29%;
            transform: translate(-50%, -50%);

            @media screen and (max-width: 1200px) {
                width: 13%;
                top: 100%;
                left: 50%;
            }
        }
    }
}