.news {
    background: $black;
    @include childCenter(center);
    padding: 60px 0 120px;

    &__container {
        max-width: 1110px;

        h2 {
            font-size: 2.8rem;
            font-weight: 600;
            margin-bottom: 25px;
        }

        &-top {

            &-buttonsContainer {
                @include childCenter(space-between);
                margin-bottom: 30px;
                width: 1130px;

                &-btn {
                    padding: 50px 45px 20px 20px;
                    border-radius: 20px;
                    opacity: 0.8;
                    cursor: pointer;
                    transition: 0.3s ease;
                    display: block;

                    &--red {
                        background: url("../img/newsorange.png") center/cover;
                    }

                    &--green {
                        background: url("../img/newsteal.png") center/cover;
                    }


                    &--blue {
                        background: url("../img/newsblue.png") center/cover;
                    }


                    &--purple {
                        background: url("../img/newspurple.png") center/cover;
                    }

                    &:hover {
                        opacity: 1;
                        scale: 1.03;
                        border-radius: 17px;
                    }

                    h4 {
                        color: $blackf;
                        opacity: 0.6;
                    }

                    h2 {
                        font-size: 1.2rem;
                        padding-top: 6px;
                        max-width: 200px;
                        margin-bottom: 0;
                        line-height: 20px;
                        opacity: 1;
                    }
                }
            }

            &-partnairs {
                margin-top: 100px;
                @include childCenter(space-between);
                padding-bottom: 90px;
                border-bottom: 1px solid $grey1;

                a {
                    transition: 0.2s;
                    transform: translate3D(0px, 100%, 0px);
                    opacity: 0;

                    &:hover {
                        opacity: 0.7;
                        scale: 0.95;
                    }

                    @keyframes newsAnim {
                        to {
                            transform: none;
                            opacity: 1;
                        }
                    }

                    img {
                        height: 25px;
                    }
                }
            }
        }

        &-bottom {
            @include childCenter(space-between);
            margin-top: 60px;

            &-text {
                max-width: 450px;

                h2 {
                    line-height: 1.1;
                    letter-spacing: -2px;
                    margin-bottom: 30px;
                }

                p {
                    margin-bottom: 40px;
                    font-size: 1.2rem;
                    line-height: 1.4;
                    opacity: 0.8;
                }
            }

            &-numbers {
                text-align: right;
                margin-bottom: 40px;

                &-content {

                    h4 {
                        color: #888888;
                        font-size: 1rem;
                        text-transform: uppercase;
                        line-height: 1.4;
                        letter-spacing: 1px;
                        margin-bottom: 10px;
                        font-weight: 600;
                    }

                    h3 {
                        font-size: 2.8rem;
                        letter-spacing: 0;
                        margin-bottom: 10px;
                        line-height: 1.2;
                    }
                }
            }
        }
    }
}