.section-mine {
    background: $black2;
    position: relative;
    padding-bottom: 60px;
    z-index: 2;

    .mine-bandereau {
        background: url("../img/minebg2.jpg") center/cover;
        width: 101%;
        height: 600px;
        position: relative;

        img {
            position: absolute;
            bottom: -1px;
            width: 102%;
            height: 250px;
            min-width: 880px;
        }
    }

    .mine-content {
        max-width: 1100px;
        margin: 0 auto;

        .mine-content-top {
            display: grid;
            grid-template-columns: 50% 50%;
        }

        .mine-content-left {
            h2 {
                font-size: 10rem;
                letter-spacing: -10px;
                margin-bottom: 10px;
                line-height: 1.1;
            }

            h3 {
                font-size: 2.8rem;
                color: $greyf2;
                line-height: 1.1;
                letter-spacing: -2px;
                margin-bottom: 30px;
                max-width: 500px;
            }

            p {
                margin-bottom: 20px;
                font-size: 1.2rem;
                line-height: 1.4;
                opacity: 0.8;
                max-width: 540px;
            }

            .network-btn {
                color: $white;
                padding: 18px 26px;
                border-radius: 8px;
                font-weight: 600;
                font-size: 1.1rem;
                transition: 0.2s;
                cursor: pointer;
                background-color: $color3;
                display: inline-block;
                margin-top: 20px;

                &:hover {
                    opacity: 0.8;
                    transform: translateY(2px);
                }
            }
        }

        img {
            max-width: 36%;
            box-sizing: border-box;
            position: absolute;
            top: 500px;
        }

        .mine-content-bottom {
            display: flex;
            justify-content: space-between;
            text-align: center;
            margin: 130px 0 100px;
        }

        .mine-content-section {
            background: $grey1;
            padding: 26px 40px;
            max-width: 355px;
            border-radius: 10px;

            h4 {
                font-size: 0.9rem;
                text-transform: uppercase;
                line-height: 1.4;
                letter-spacing: 1px;
                margin-bottom: 10px;
            }

            p {
                font-size: 1rem;
                margin: 0 auto;
                line-height: 1.4;
                opacity: 0.8;
            }
        }
    }
}