@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

$font1: 'Inter', sans-serif;
$black1: #0D0D0D;
$black2: #1D1D1D;
$black3: #1B1B1B;
$black4: #141617;
$blackf: #111111;
$white: #FFFFFF;
$grey1: #353535;
$grey2: #383838;
$grey3: #454545;
$grey4: #4A4A4A;
$grey5: #323232;
$grey6: #5D5D5D;
$greyf1: #AAAAAA;
$greyf2: #888888;
$color1: #8816e3;
$color2: #d5149f;
$color3: #474DFF;
$color4: #8626D1;
$color5: #0ACF83;
$color6: rgba(0, 0, 0, 0.2);
$color7: #3B41E1;

@mixin childCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin alignCenter($space) {
    display: flex;
    align-items: center;
    justify-content: $space;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font1;
    color: $white;
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    max-width: 100vw;
    background: $black3;
    height: 100vh;
}

::-webkit-scrollbar {
    display: none;
}

button {
    background: none;
}