@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #FFFFFF;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  max-width: 100vw;
  background: #1B1B1B;
  height: 100vh;
  cursor: url(CURSOR_URL), auto;
}

::-webkit-scrollbar {
  display: none;
}

button {
  background: none;
}

nav {
  background: rgba(26, 26, 26, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 10px 0;
  z-index: 100;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
}
nav .logosymbol {
  position: absolute;
  left: 15px;
}
nav p {
  font-weight: 500;
  line-height: 16px;
}
nav ul {
  display: flex;
  margin: 0 25px 0 53px;
  position: relative;
  z-index: 100;
}
nav ul li {
  margin-right: 27px;
}
nav ul li a {
  font-weight: 500;
  line-height: 16px;
  position: relative;
}
nav ul li a img {
  vertical-align: 4%;
}
nav ul:before {
  content: "";
  width: 2px;
  height: 20px;
  background: #5D5D5D;
  position: absolute;
  left: -27px;
}
nav ul:after {
  content: "";
  width: 2px;
  height: 20px;
  background: #5D5D5D;
  position: absolute;
  right: 0px;
}
nav .globe {
  height: 28px;
}
nav .globe img {
  filter: invert(100%);
  height: 28px;
  position: absolute;
  right: 25px;
  cursor: pointer;
}
nav .globe img:hover {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(192deg) brightness(134%) contrast(97%);
}
nav .build-nav {
  visibility: hidden;
  position: absolute;
  bottom: -305px;
  left: 730px;
  background: #FFFFFF;
  width: 315px;
  padding: 20px 0 0;
  border-radius: 5px;
  opacity: 0;
  transition: 0.3s ease;
  transform: translateY(-10px);
  z-index: 1;
}
nav .build-nav .build-nav-content {
  margin-bottom: 15px;
  height: 55px;
  padding-top: 8px;
  transition: 0.4s ease;
  cursor: pointer;
}
nav .build-nav .build-nav-content h3 {
  color: #1D1D1D;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 6px;
  line-height: 16px;
  margin-left: 22px;
}
nav .build-nav .build-nav-content p {
  color: #7f7f7f;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 16px;
  margin-left: 22px;
}
nav .build-nav .build-nav-content:hover {
  background: #ebebeb;
}
nav .use-nav {
  visibility: hidden;
  position: absolute;
  bottom: -305px;
  left: 810px;
  background: #FFFFFF;
  width: 315px;
  padding: 20px 0 0;
  border-radius: 5px;
  opacity: 0;
  transition: 0.2s ease;
  transform: translateY(-10px);
  z-index: 1;
}
nav .use-nav .use-nav-content {
  margin-bottom: 15px;
  height: 55px;
  padding-top: 8px;
  transition: 0.3s ease;
  cursor: pointer;
}
nav .use-nav .use-nav-content h3 {
  color: #1D1D1D;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 6px;
  line-height: 16px;
  margin-left: 22px;
}
nav .use-nav .use-nav-content p {
  color: #7f7f7f;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 16px;
  margin-left: 22px;
}
nav .use-nav .use-nav-content:hover {
  background: #ebebeb;
}
nav .resources-nav {
  visibility: hidden;
  position: absolute;
  bottom: -237px;
  left: 880px;
  background: #FFFFFF;
  width: 287px;
  padding: 20px 0 0;
  border-radius: 5px;
  opacity: 0;
  transition: 0.2s ease;
  transform: translateY(-10px);
  z-index: 1;
}
nav .resources-nav .resources-nav-content {
  margin-bottom: 15px;
  height: 55px;
  padding-top: 8px;
  transition: 0.3s ease;
  cursor: pointer;
}
nav .resources-nav .resources-nav-content h3 {
  color: #1D1D1D;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 6px;
  line-height: 16px;
  margin-left: 22px;
}
nav .resources-nav .resources-nav-content p {
  color: #7f7f7f;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 16px;
  margin-left: 22px;
}
nav .resources-nav .resources-nav-content:hover {
  background: #ebebeb;
}
nav .globe-nav {
  visibility: hidden;
  position: absolute;
  bottom: -325px;
  right: 20px;
  background: #FFFFFF;
  width: 140px;
  padding: 27px 0 15px;
  border-radius: 10px;
  opacity: 0;
  transition: 0.2s ease;
  z-index: 1;
  text-align: center;
}
nav .globe-nav p {
  margin-bottom: 12px;
}
nav .globe-nav p a {
  color: #111111;
  font-weight: 600;
  color: #38a2ff;
  letter-spacing: -0.5px;
}
nav .globe-nav p a:hover {
  color: #be73ff;
}
nav .clicked {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

header {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  background: #1d1d1d url("../../svg/isoheaderbg.svg") center no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-animation: headerAnim 2.5s forwards;
          animation: headerAnim 2.5s forwards;
}
@-webkit-keyframes headerAnim {
  to {
    opacity: 1;
  }
}
@keyframes headerAnim {
  to {
    opacity: 1;
  }
}
header .header-left {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-40px);
  -webkit-animation: headerLeftAnim 1.5s forwards;
          animation: headerLeftAnim 1.5s forwards;
}
@-webkit-keyframes headerLeftAnim {
  to {
    transform: translateX(0);
  }
}
@keyframes headerLeftAnim {
  to {
    transform: translateX(0);
  }
}
header .header-left .header-left-content {
  max-width: 490px;
  margin: 0 auto;
}
header .header-left .header-left-content .hotspots {
  background: linear-gradient(90.06deg, #8816e3 10.06%, #d5149f 92.17%);
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  font-size: 0.9rem;
}
header .header-left .header-left-content .hotspots img {
  height: 12px;
  opacity: 0.4;
}
header .header-left .header-left-content .hotspots:hover {
  background: linear-gradient(90.06deg, rgba(136, 22, 227, 0.7) 10.06%, rgba(213, 20, 159, 0.7) 92.17%);
}
header .header-left .header-left-content .hotspots:hover img {
  opacity: 1;
}
header .header-left .header-left-content h1 {
  font-size: 6.7rem;
  line-height: 99px;
  margin-bottom: 20px;
  letter-spacing: -4px;
}
header .header-left .header-left-content h3 {
  color: #474DFF;
  font-size: 1.7rem;
  font-weight: 100;
  line-height: 38px;
  margin-bottom: 19px;
}
header .header-left .header-left-content p {
  font-weight: 300;
  line-height: 28px;
  font-size: 1.2rem;
  opacity: 0.8;
  margin-bottom: 40px;
}
header .header-left .header-left-content .header-buttons button {
  color: #111111;
  padding: 16px 26px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.1rem;
  transition: 0.2s;
  cursor: pointer;
}
header .header-left .header-left-content .header-buttons button:hover {
  opacity: 0.8;
  transform: translateY(2px);
}
header .header-left .header-left-content .header-buttons .button-blue {
  background: #474DFF;
}
header .header-left .header-left-content .header-buttons .button-purple {
  background: #A334FB;
}
header .header-left .header-left-content .header-buttons .button-green {
  background: #0ACF83;
}
header .header-right {
  position: relative;
}
header .header-right .base {
  width: 140%;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}
header .header-right .div-lignes {
  transform: translate(-50%, -50%) scale(1.8);
  position: absolute;
  left: 37%;
  top: 48%;
  perspective: none;
}
header .header-right .div-lignes .ligns {
  transform: rotateX(54.7356103deg) rotateY(0deg) rotateZ(45deg);
  width: 135%;
}
header .header-right .topmain {
  position: absolute;
  left: 81%;
  top: 49%;
  width: 76%;
  transform: translate(-50%, -50%);
}
header .header-right .marker {
  position: absolute;
  width: 18.4%;
  top: 49%;
  left: 29%;
  transform: translate(-50%, -50%);
}

.news {
  background: #0D0D0D;
  display: flex;
  justify-content: center;
  padding: 60px 0;
}
.news .news-container {
  max-width: 1130px;
  margin: 0 auto;
}
.news .news-container .news-last h2 {
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 25px;
}
.news .news-container .news-last .news-btn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.news .news-container .news-last .news-btn .btn-news {
  padding: 50px 45px 20px 20px;
  border-radius: 20px;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s ease;
  display: block;
}
.news .news-container .news-last .news-btn .btn-news:hover {
  opacity: 1;
  scale: 1.03;
  border-radius: 17px;
}
.news .news-container .news-last .news-btn .btn-news h4 {
  color: #111111;
  opacity: 0.6;
}
.news .news-container .news-last .news-btn .btn-news h2 {
  font-size: 1.2rem;
  padding-top: 6px;
  max-width: 200px;
  margin-bottom: 0;
  line-height: 20px;
  opacity: 1;
}
.news .news-container .news-last .news-btn .red {
  background: url("../img/newsorange.png") center/cover;
}
.news .news-container .news-last .news-btn .red h2 {
  opacity: 1;
}
.news .news-container .news-last .news-btn .green {
  background: url("../img/newsteal.png") center/cover;
}
.news .news-container .news-last .news-btn .blue {
  background: url("../img/newsblue.png") center/cover;
}
.news .news-container .news-last .news-btn .purple {
  background: url("../img/newspurple.png") center/cover;
}
.news .news-container .news-last .news-partnairs {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
  border-bottom: 1px solid #4A4A4A;
}
.news .news-container .news-last .news-partnairs a {
  max-width: 12%;
  transition: 0.2s;
}
.news .news-container .news-last .news-partnairs a:hover {
  opacity: 0.7;
  scale: 0.95;
}
.news .news-container .news-last .news-partnairs a img {
  min-height: 25%;
  max-height: 50%;
}
.news .news-container .news-network {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=style.css.map */